:root {
  --primary-text-color: #757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
  --project-color: #EEEEEE;
  --white-color: #ffffff;
  --button-background-color: #F5F4FA;
  --background-color:#2F303A;
  --link-address: rgba(255, 255, 255, 0.6);
  --background-color-page: var(--white-color);
  --solid: #EEEEEE;
  --background-color-portfolio: #F5F5F5;
}
  /* *,
  *::before,
  *::after {
    box-sizing: border-box;
  
} */

body {
    font-family: Roboto, sans-serif;
    background-color:var(--white-color);
    color:  var(--primary-text-color);
    border: 2px dashed tomato;
}
.hero,
.contacts-section
 {
    background-color: var(--background-color)
    
}
.hero {
    text-align: center;
    /* width: 1600px; */
}

/* footer-section */
/* .contacts-section {
    display: flex;
} */


.contacts-section {
    padding-left: 215px;
    padding-top: 60px;
    padding-bottom: 00px;
}

.logo-footer{
    padding-top: 60px;
} 
.address > p {
    padding-bottom: 0px;
    padding-top: 20px;
    margin-bottom: 0px;
    
}
.site-address {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 60px;
    padding-left: 0px;
}
.site-address > a {
    padding-bottom: 9px;
}



* Ресет */
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
	text-decoration: none;
	color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Свойства для обнуления курсива у address */
address {
	font-style: normal;
}
/* обнуление маржинов у ul */
.site-nav,
.contacts {
    margin: 0;
}

/* конец Ресет */

.hero-title {
    padding-top: 200px;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 00px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    /* width: 1600px; */
    }

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}    
.hero-button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    margin-bottom: 200px;
}
 
.hero-button {
    color: var(--white-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}
.hero-button {
    background-color: #2196F3;
}
.hero-button:hover,
.hero-button:focus {
    color: var(--white-color);
    background-color: #188CE8;;
}

/* Page-header */
.page-header {
    background-color:var(--background-color-page);
    /* background-color: gray; */
}

/* .page-header {
    display:flex;
    align-items: center;
} */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-bottom: 94px; */
    width: 1200px;
    outline: 2px solid rgb(114, 71, 255);
    /* justify-items: center; */
    /* align-items: center; */
 /* padding-bottom: 94px; */
}


.main-nav {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;

}
.main-list {
    display: flex;
    justify-items: flex-end;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    align-items: normal;


}

/* logo */

.logo {
    text-decoration: none;
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.logo-accent {
    color: var(--accent-color);
    
}

.logo a  {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}


/* Main-nav */
.main-nav {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 15px;
    /* margin-left:; */
}

.menu {
    color: var(--accent-color);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

}


.menu {
    display: flex;
    align-items: center;
}

/* link */

.link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

/* .link.current {

    margin-left: 93px; */

.link-header {
text-decoration: none;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.button {
    color: var(--white-color);
    cursor: pointer;  
}
.section-box {
    font-family: Roboto;
    font-size: 18px;
    line-height: 2.00;
   }


.project-watch {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

ul { 
    list-style: none;
}
/* .logo {
    display: flex;
} */
.site-nav {
    display: flex;
    /* align-items: center; */
    /* gap: 50px; */
    margin-right: 0px;
    margin-left: 94px;
    padding-top: 0px;
    /* padding-right: 0px; */
    /* padding-right: ; */

}

.site-nav {
    padding-left: 0px;
}
.site-nav .list {
    display: block;
}
.link.current .item :not(:last-child) {
    margin-left: 50px;
}

.link-header {
    /* display: flex; */
/* background-color: tomato; */
align-self: flex-start;

}
.link {
    display: flex;
    align-items: center;
}
/* .site-nav .item {
    margin-left: 50px;
} */
/* .site-nav .item + .item {
    margin-left: 50px;
} */


.site-nav .link {
    display: block;
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
}
/* .site-nav .title,
.site-nav .section-advantege,
.time-composition .section-subtitle,
.time-composition .professions, */
/* .work-list, */

.section-title  {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 94px; 
    padding-bottom: 50px;
} 

.time-composition {
    display: flex;
}
.humana-list {
    display: block;
    width: 270px;
    outline: 1px solid olive;
    margin-left: 0px;

    
}

.work-list {
   display: flex;
   margin: 0px;
   padding: 0px;
   justify-content: space-between;
   padding-bottom: 44px;
}

.work-list.see :nth-child(3n) {
    margin-right: 0px;
}



/* .container, */
.time-composition {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 92px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    background-color: var(--button-background-color) ;

}  
.time-composition .humana-list + .humana-list {
    margin-left: 30px;
}


.title,
.section-subtitle {
/* .time-composition .professions { */
    margin-top: 0px;
    margin-bottom: 10px; 
}  

.site-nav .current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-address .link:hover,
.site-address .link:focus,
.link-header:hover,
.link-header:focus
{
color: var(--accent-color);
}

/* email tel list */
.mailtel {
    display: flex;
    align-items: center;
}

.mailtel-list li {
    margin-left: 50px;   
   }


.mailtel-list {
    display: flex;
    margin-left: auto;
    /* gap: 0px; 
    align-items: flex-end; */
  
}
.mailtel-list .item + .item {
    margin-left: 50px;
    /* padding-right: 15px; */
}
.mailtel-list {
    /* margin-right: 50px; */
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin-left: auto; */
    
 }



/* Section */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    /* margin-bottom: 10; */
    color: var(--title-text-color);
}

.time-composition {
    background-color: var(--white-color);
}
.type-title > p {
    /* margin-bottom: 10px; */
    background-color: var(--white-color);
}
.project-windows {
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding: 20px 24px; */
    margin-left: 0px;
    margin-right: 0px;

}


.project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 0px;
    margin-bottom: 94px;
    padding-left: 0px;


}.container.project {
    margin-left: 0px;
    background-color: var();
}
.project-box {
    max-width: 370px;
    
}
.project-box a {
    border-color: var(--solid);
}
.project-windows {
   max-width: 370px;

}
c
.project-windows .project-box + .project-box:nth-child(n3) {
    margin-right: 0px;
}


.project-box {
    list-style: none;
    text-decoration: none;
}

.site-nav .item + .item {
    margin-left: 50px;
    /* background-color: gold; */
}
    

.title {
    list-style: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10;
    color: var(--title-text-color);
}



    /* section */

.section {
    padding-top: 0px;
    padding-bottom: 0px;
    }
   

.section-advantege > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-advantege {
    padding-bottom: 44px;
    padding-left: 0;
    margin-bottom: 0;
    
    }
    
.section-advantege + .section-advantege {
        t: 30px;
    }
    

.section-subtitle {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

 .professions {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
 }

.team {
    background-color: var(--button-background-color);
}

.footer {
    color: var(--background-color);
}

.footer.logo-footer {
    color: var(--accent-color);
}
.page {
    width: 1600px;
    margin-left: 0px;
    margin-left: 0px;
}
.page-footer {
    color: var(--background-color);
} 
.footer {
    color: var(--background-color);
}

.logo-contacts,
.logo-footer,
.address,
.link-footer
.footer-section,
.link-address,
.contacts-section
{
    text-decoration: none;
}

 .address {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.link-address {
    color: var(--link-address);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.logo-contacts {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.section .team {
    margin-bottom: 44px;
}

.footer-section {
    text-decoration: none;
    color: var(--white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.logo-footer {
    color: var(--accent-color);
}

/* .link-footer {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    }
    
.link-footer {
    color: var(--primary-text-color);
    } */
    
 /* Portfolio */

 .button-project {
    display: flex;
    align-items: center;
    /* display: inline-block; */
    align-items: center;
    justify-content:center;

    border-radius: 4px;
    padding-top: 94px;
    padding-bottom: 50px;
    min-width: 216px;
    /* margin-bottom: 50px; */
       

 }
 .button-filter {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--button-background-color);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    

    }
    
.brd {
    /* min-width: 100px; */
    /* font-family: inherit; */
    /* appearance: none; */
    /* border: 0; */
    /* border-radius: 5px; */
    /* background: #4676d7; */
    /* color: #fff; */
    /* padding: 8px 16px; */
    /* font-size: 1rem; */
    /* cursor: pointer; */
  }
  
  /* .brd:hover   {
    background: #1d49aa; */
  
/*   
  .brd:focus {
    outline-color: none; */
   /* .project-box.brd: {
        box-shadow: 0 4 4 0;
        Drop shadow
        Radius: 4px;
        Offset: 0px, 4px;
        rgba(0, 0, 0, 0.25);
        Stroke: Solid
#EEEEEE
Align: Mixed
Width: 1px


    } */

    /* .brd {
        border: 4px  solid  var(--solid); /* Параметры границы */
    
    /* .button-progect.container {

    } */

.button-filter:hover, 
.button-filter:focus {
    color: var(--white-color) ;
    background-color: var(--accent-color);
}

/* .hero-button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    margin-bottom: 200px;
} */

.button-project .button-filter + .button-filter {
    margin-left: 8px;
    align-items: center;
}
